<%= form_with(model: child, local: true) do |form| %>
  <% if child.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(child.errors.count, "error") %> prohibited this child from being saved:</h2>

      <ul>
      <% child.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :my_id %>
    <%= form.number_field :my_id, id: :child_my_id %>
  </div>

  <div class="field">
    <%= form.label :par_id %>
    <%= form.number_field :par_id, id: :child_par_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
