<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Generator deklaracji</title>
</head>
<body>
<table>
    <tr>
        <th>
            Imię:
        </th>
        <th>
            <%= name %>
        </th>
        <th>

        </th>
        <th>
            Nazwisko:
        </th>
        <th>
            <%= surname %>
        </th>
        <th>

        </th>
        <th>
            Przedmiot:
        </th>
        <th>
            <%= subject %>
        </th>
    </tr>
    <tr>
        <th>
            1
        </th>
        <th>
            2
        </th>
        <th>
            3
        </th>
        <th>
            4
        </th>
        <th>
            5
        </th>
        <th>
            6
        </th>
        <th>
            7
        </th>
        <th>
            8
        </th>
        <th>
            9
        </th>
        <th>
            10
        </th>
    </tr>
    <tr>
        <th>
            <%= exercise1 %>
        </th>
        <th>
            <%= exercise2 %>
        </th>
        <th>
            <%= exercise3 %>
        </th>
        <th>
            <%= exercise4 %>
        </th>
        <th>
            <%= exercise5 %>
        </th>
        <th>
            <%= exercise6 %>
        </th>
        <th>
            <%= exercise7 %>
        </th>
        <th>
            <%= exercise8 %>
        </th>
        <th>
            <%= exercise9 %>
        </th>
        <th>
            <%= exercise10 %>
        </th>
    </tr>
</table>
</body>
</html>